page-serve {
	h3{
		padding-left: 20px;
	}
	p{
		padding-left: 22px;
	    font-size: 1.6rem;
	    color: #9e6c23;
	}
	/*span{
		float: right;
    	padding-right: 50%;
	}*/
/*	span label{
	    padding-left: 20px;
	    font-size: 1.6rem;
	    color: #9e6c23;	
	}*/
/*	ion-row ion-col{
		font-size: 1.6rem;
	    color: #9e6c23;
	}
	ion-row ion-col:first-child{
		padding-left: 10px;
		color: #333；

	}*/

}
