page-people {

	.button-ios{
	    margin: 0 0 0 -8px;
	  /*  margin-left: -0.5em;*/
	    padding: 0 1em;
	    height: 1.8em;
	    font-size: 2.0rem;
	    color: #fff;
	    background-color: #db5555;
	    box-shadow: 0 0 0 0;
	} 
	.button-ios.activated{
		background-color: #db5555;
	}
	.toolbar-ios .segment-ios{
	    background: #fff;
	    border-bottom: 0.55px solid #ddd;
	}
	.toolbar-ios .segment-button {
    	max-width: 200px;
    }
    .segment-ios .segment-button:first-of-type, .segment-ios .segment-button:last-of-type{
	    border-radius: 0 0 0 0;
	}
	.segment-ios .segment-button.segment-activated{
	    background-color: #607D8B;
    }
    .segment-ios .segment-button{
    	border-color: #607D8B;
    	color: #607D8B;
    }
    ion-row{
    	border-bottom: 1px solid #ddd;
    }
    ion-row ion-col{
		color: #c8c7cc;
		line-height: 4rem;
		text-overflow: ellipsis;
	    overflow: hidden;
	    -webkit-text-overflow: ellipsis;
	    white-space:nowrap;
    }
    ion-row ion-col[width-75]{
		color: #262626;
		font-size: 1.5rem;
		line-height: 4rem;
		font-weight: bold;
		padding-left: 1rem;
    }
    .item-ios{
    	border-bottom: 1px solid #ddd;
    }

}
