page-peopleDetail {
	.content-md, .content-ios{
		background: #efeaea;
	}
	.scroll-content{
		margin-top: 50px;
	}
	.card-ios, .card-md{
	    margin: 0px 0px 1px 0px;
	    width: 100%;
	}
	.item-md, .item-ios{
    	border-bottom: 1px solid #ddd;
	}
	ion-col {
		padding: 0;
	}
	ion-row ion-col:first-child {
		border-right: 2px solid #ddd;
	}
	.item-md h2, .item-ios h2{
		font-weight: bold;
		font-size: 1.8rem;
	}
	.button-md, .button-ios {
		margin: 0;
		font-weight: bold;
		font-size: 1.5rem;
	}
	.fllower {
		padding-left: 10%;
		color: #424242;
		font-size: 1.5rem;
	}
	.button-clear-md-dark,
	.button-clear-ios-dark{
		color: #673ab3;
	}
	.card-header-md, .card-header-ios{
	    /*color: #228ab9;*/
	    color: #222;
	    font-weight: bold;
	    border-bottom: 1px solid #ddd;
	}
	.card-content-md, .card-content-ios {
	    line-height: 2;
	    color: #222;
	 /*   color: #163a77;*/
	}
	.item-ios, .item-md{
	    font-size: 1.4rem;
	    color: #343434;
	}
	ion-label {
		white-space: inherit;
	}
	button[color=primary]{
		font-size: 1.0rem;
		float: right;
    	color: #f53d3d;
    	margin-right: 8px;
	}
	ion-textarea{
		border-bottom: 1px solid #ddd;
	}
	.button-clear-md-light,
	.button-clear-ios-light{
		float: right;
		margin-top: -30px;
		color: #f5823d;
	}

}
