page-forget {
	.toolbar-background-ios {
		background-color:#fff;
	}
	.toolbar-background-ios {
	    border-color: #fff;
	}
	.bar-button-default-ios{
	    color: #e13838;
	}
	.bar-button-ios {
		font-size: 2.7rem;
	}
	.scroll-content {
    	background-color:#fff;
	}
	.list-ios > .item-block:first-child {
	    border-top: 1px solid #fff;
	}
	.list-ios > .item-block{
	    border-bottom: 1px solid #9e9e9e;
	    border-top: 1px solid #fff;
	}
	.list-ios > .item-block:last-child {
	    border-bottom: 1px solid #9e9e9e;
	}
	.button-ios-danger{
		border: 1px solid #ddd;
		background-color: #e13838;
		color: #fff;
	}
	.list-ios {
	    margin: 2.5rem 2rem;
	}
	.limg{
		text-align: center;
	    margin: 0;
	}
	.header-md::after{
		background-image: none;
	}
	.item-md.item-input.input-has-focus .item-inner, .list-md .item-input.input-has-focus:last-child {
	   border-bottom-color: #ddd;
	  box-shadow: inset 0 -1px 0 0 #ddd;
	}
	.item-input .label-md, .item-input .label-ios{
	    color: #3c3b3b;
	}
}
