page-login {
	.toolbar-background-ios {
	    background-color: #faeded;
	}
	.toolbar-title-ios {
    	color: #DDD;
    	font-weight: bold;
	}
	.button-ios {
	    margin: 0;
	 /*   padding: 0 1em;*/
	    height: 1.8em;
	    font-size: 2.0rem;
	    color: #DDD;
	    background-color: #faeded;
	} 
	.button-ios.activated {
		background-color: #faeded;
	}
	.scroll-content {
		background-color: #faeded;
	}
	.list-ios > .item-block:first-child {
	    border-bottom: 0.55px solid #c8c7cc;
	}
	.button-ios-white{
		border: 1px solid #3474e1;
		background-color: #fff;
		color: #3474e1;
	}
	.button-ios-danger{
		border: 1px solid #e13838;
		background-color: #fff;
		color: #e13838;
	}

}
