page-peoplelist {
	ion-row{
    	border-bottom: 1px solid #ddd;
    }
    ion-row ion-col{
		color: #c8c7cc;
		line-height: 4rem;
    }
    ion-row ion-col[width-75]{
		color: #262626;
		font-size: 1.5rem;
		line-height: 4rem;
		font-weight: bold;
    }
    .item-md, .item-ios{
    	border-bottom: 1px solid #ddd;
    }

}
